{% extends 'base.html' %}

{% block content %}
    <h2>Dodawanie sali</h2><br>
    <form method="post" action="/room/add/">
        {%  csrf_token %}
        <label for="name">Nazwa:</label><br>
        <input type="text" id="name" name="name" placeholder="Wpisz nazwę sali"> <br><br>
        <label for="capacity">Pojemność:</label><br>
        <input type="text" id="capacity" name="capacity" placeholder="Podaj pojemność"><br><br>
        <label for="projector">Rzutnik?:</label>
        <input type="checkbox" id="projector" name="projector"><br><br><br>
        <input type="submit" name="submit" value="Zapisz">
    </form>
{% endblock %}