{% extends 'base.html' %}

{% block content %}
    <br/>
    <table>
        <tr>
            <td>Nazwa sali</td>
{#            <td>Status</td>#}
            <td>Opcje</td>
        </tr>
        {% for room in rooms %}
            <tr>
                <td>
                    <a href="/room/{{ room.id }}">{{ room.name }}</a>
                </td>
{#                <td>NIE ZNANY</td>#}
                <td>
                    <a href="/room/modify/{{ room.id }}">Modyfikuj</a>
                    <a href="/room/delete/{{ room.id }}">Usuń</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}