{% extends 'base.html' %}

{% block content %}
    <h4>Modyfikacja sali:</h4>
    <h2>{{ room.name }}</h2>
    <br>
    <form method="post" action="/room/modify/{{ room.id }}">
        {%  csrf_token %}
        <label for="name">Nazwa:</label><br>
        <input type="text" id="name" name="name" placeholder="Nazwa sali" value="{{ room.name }}">
        <br><br>
        <label for="capacity">Pojemność:</label><br>
        <input type="text" id="capacity" name="capacity" placeholder="Pojemność" value="{{ room.capacity }}">
        <br><br>
        <label for="projector">Rzutnik?:</label>
        <input type="checkbox" id="projector" name="projector" {% if room.projector %}checked="checked"{% endif %}>
        <br><br>
        <input type="submit" name="submit" value="Zapisz">
    </form>
{% endblock %}