{% extends 'base.html' %}

{% block content %}
    <h2>Sala:</h2>
    <ul>
        <li>Nazwa: {{ room.name }}</li>
        <li>Pojemność: {{ room.capacity }}</li>
        <li>Rzutnik: {{ room.projector }}</li>
    </ul>
    <h5>Aktualne rezerwacje:</h5>
    <ul>
    {% for reservation in reservations %}
{#        <li>{{ reservation.date|date: 'Y-m-d' }}</li>#}
        <li>{{ reservation.date }} {{ reservation.comment }}</li>
    {% endfor %}
    </ul>
    <br>
    <h5>Dodaj:</h5>
    <form method="post" action="/room/reserve/{{ room.id }}">
        {%  csrf_token %}
        <input type="date" name="date" placeholder="Data rezeracji"><br>
        <textarea name="comment" placeholder="Komentarz"></textarea><br>
        <input type="submit" name="Dodaj rezerwacje">
    </form>
{% endblock %}