{% extends 'base.html' %}

{% block content %}

    <table border="2">
    <h2>Szczegoły sali</h2>
    <ul>
        <li>Nazwa: {{ room.name }}</li>
        <li>Pojemność: {{ room.capacity }}</li>
        <li>Rzutnik: {{ room.projector }}</li>
    </ul>
    <br>
    </table>

    <h3>Zarezerwuj</h3>
    <a href="/room/reserve/{{ room.id }}">Dodaj rezerwację</a>
    <p>&nbsp;</p>
    <h4>Aktualne rezerwacje</h4>
    <ul>
    {% for reservation in reservations %}
        <li>{{ reservation.date }}  {{ reservation.comment }}</li>
    {% endfor %}
    </ul>
{% endblock %}
    </p>